.ari-rocks-content {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100%;
}

.ari-rocks-star {
    line-height: 1;
    user-select: none;
}
